{% extends 'base.html' %}
{% block content %}

<h2>Products</h2>

<form method="get">
    <input type="text" name="q" placeholder="Search">
    <select name="category">
        <option value="">All Categories</option>
        {% for c in categories %}
        <option value="{{ c.slug }}">{{ c.name }}</option>
        {% endfor %}
    </select>

    <select name="sort">
        <option value="">Newest</option>
        <option value="price_low">Price: Low to High</option>
        <option value="price_high">Price: High to Low</option>
    </select>

    <button type="submit">Apply</button>
</form>

<ul>
{% for product in products %}
    <li>
        <a href="/products/product/{{ product.slug }}/">
            {{ product.name }} - ₹{{ product.price }}
        </a>
    </li>
{% empty %}
    <li>No products found.</li>
{% endfor %}
</ul>

{% endblock %}
